.DS_Store
ac-comphist.dat
auto-save-list/*
elpa/*
eshell/*
recentf
straight/*
tramp
transient/*
url/*

gomibako/*
bu/*
!bu/.gitkeep

elisp/*
!elisp/.gitkeep
site-lisp/*
!site-lisp/.gitkeep

#今や不要な存在かも。
public_repos

#codeiumディレクトリは必要に応じて除外指定を追加してください
codeium/*
#!codeium/.gitkeep


#分割設定ファイルの検証が終わるまで
conf/*
!conf/init-base.el
!conf/init-shell.el
