.DS_Store
.cache
ac-comphist.dat
auto-save-list/*

recentf
straight/*
tramp
transient/*
url/*

gomibako/*
zzz__kari_gomi
bu/*
!bu/.gitkeep

elpa/*
!elpa/.gitkeep
eshell/*
!eshell/.gitkeep
#elisp/*
#!elisp/.gitkeep

site-lisp/*
!site-lisp/.gitkeep

#今や不要な存在かも。
public_repos

#codeium全体で不採用にしたので関連ファイルは除外対象とする
codeium/*
#!codeium/.gitkeep
conf/codeium-settings.el

custom.el

eln-cache/*
!eln-cache/.gitkeep

projects
tree-sitter