.DS_Store
.cache
ac-comphist.dat
auto-save-list/*

recentf
straight/*
tramp
transient/*
url/*

gomibako/*
zzz__kari_gomi
bu/*
!bu/.gitkeep

elpa/*
!elpa/.gitkeep
eshell/*
!eshell/.gitkeep
#elisp/*
#!elisp/.gitkeep

site-lisp/*
!site-lisp/.gitkeep

#今や不要な存在かも。
public_repos

#codeiumディレクトリは必要に応じて除外指定を追加してください
codeium/*
#!codeium/.gitkeep

